:root{
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    --bg-primary:hsl(0, 0%, 0%);
    --bg-secondary:hsl(39, 100%, 50%);
    --text-primary:hsl(0, 0%, 0%);
    --text-secondary:hsl(39, 100%, 50%);
    --transition-time: 750ms;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: var(--bs-font-sans-serif);
    color: #212529;
    background-color: #fff;
}

@media (prefers-color-scheme: dark) {
    /* Dark theme styles go here */
}

@media (prefers-color-scheme: light) {
    /* Light theme styles go here */
}